.icon-notice{
	color:rgb(0, 192, 239);
}
.icon-notice:hover{
	color:rgb(0, 167, 208);
}

.icon-danger{
	color:rgb(221, 75, 57);
}
.icon-danger:hover{
	color:rgb(211, 55, 36);
}

.icon-success{
	color:rgb(0, 166, 90);
}
.icon-success:hover{
	color:rgb(0, 141, 76);
}

.icon-primary{
	color:rgb(60, 141, 188);
}
.icon-primary:hover{
	color:rgb(53, 124, 165);
}

.icon-warning{
	color:rgb(243, 156, 18);
}
.icon-warning:hover{
	color:rgb(219, 139, 11);
}

.required:after {
	content:" *";
	color:red;
}

/* alias of the .required:after */
.field-required:after {
	content:" *";
	color:red;
}

.skier-type-list ul {
	list-style:square;
	padding-left:18px;
}

tr th {
	white-space: nowrap;
}

.btn-row {
    margin-left: 0px;
    margin-top: 5px;
}

.row-elem{
    float: left;
    margin-right: 10px;
}
.loading{
    background: url('../img/loading.gif') no-repeat;
    width: 100%;
    float: left;
    display: none;
}