
.latest-newslist li:after {
	content: " ";
	display: block;
	clear: both;
}




img {
	vertical-align: top;
}

a {
	transition: all 0.3s;
}

a:hover {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 8px;
	font-weight: 700;
}

h1 {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 20px;
}

h2 {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 15px;
}

h3 {
	font-size: 14px;
	line-height: 20px;
}

#wrapper {
	position: relative;
	overflow: hidden;
}

.btn {
	border-radius: 0;
}

/*.modal-header {
	min-height: 45px;
}
*/
/*#header {
	position: relative;
	padding-top: 10px;
}

#nav {
	font-size: 14px;
	line-height: 20px;
	background: transparent;
	text-transform: uppercase;
	border: 0;
	margin: 0;
}

#nav li.active > a {
	color: #fff;
	background: #091011;
	border-top-color: #c60001;
}

#nav li.open > a {
	background: #091011;
	border-top-color: #c60001;
}

#nav a {
	border-top: 4px solid transparent;
	padding: 20px 15px 30px;
	color: #fff;
}

#nav a:hover,#nav a:focus {
	border-top: 4px solid #c60001;
	background: #091011;
	color: #fff;
}

#nav .navbar-brand {
	width: 165px;
	height: 134px;
	padding: 0;
}

#nav .navbar-brand:hover,#nav .navbar-brand:focus {
	background: transparent;
	border-color: transparent;
}

#nav .dropdown-menu {
	background: #0e181a;
	right: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
}

#nav .dropdown-menu a {
	padding: 15px;
}

#nav .dropdown-menu a:hover,#nav .dropdown-menu a:focus {
	background: #091011;
}

#nav .navbar-toggle {
	margin-top: 60px;
	background: #c60001;
	border-color: #c60001;
	border-radius: 0;
	margin-right: 0;
	margin-bottom: 25px;
}

#nav .navbar-toggle .icon-bar {
	background: #fff;
}

#nav  .navbar-nav {
	margin-top: 72px;
}

#nav .btn-newsletter {
	position: absolute;
	right: 0;
	top: 10px;
	background: #c60001;
	padding: 5px 15px;
	text-transform: none;
	font-size: 14px;
	line-height: 17px;
	height: 34px;
}

#nav .btn-newsletter:hover,#nav .btn-newsletter:focus {
	background: #c60001;
	opacity: 0.7;
}

#main {
	position: relative;
	background: #fff;
	/*border-top: 6px solid #c60001;*/
	
}*/

.banner .carousel-inner img {
	width: 100%;
	height: auto;
}

.banner .carousel-caption {
	bottom: auto;
	top: 0;
	left: auto;
	right: 0;
	background: rgba(0, 0, 0, 0.3);
	max-width: 400px;
	font-size: 13px;
	line-height: 20px;
	padding: 15px;
	text-align: left;
}

.banner .carousel-caption h2 {
	margin: 0 0 5px;
	font-size: 18px;
	line-height: 24px;
}

.banner .carousel-caption p {
	margin: 0;
}

.carousel-control {
	top: auto;
	bottom: 20px;
	left: auto;
	right: 80px;
	border-radius: 50%;
	overflow: hidden;
	padding: 8px;
	width: 40px;
	height: 40px;
	color: #091011;
	background-color: #efefef;
	background-image: linear-gradient(to top, #c8c8c8 0%, #f9f9f9 100%);
	box-shadow: 0.6px 0.8px 2px rgba(120, 120, 120, 0.75);
	opacity: 1;
	text-shadow: none;
}

.carousel-control.right {
	right: 30px;
	background-color: #efefef;
	background-image: linear-gradient(to top, #c8c8c8 0%, #f9f9f9 100%);
}

.carousel-control.left {
	background-color: #efefef;
	background-image: linear-gradient(to top, #c8c8c8 0%, #f9f9f9 100%);
}

/*.content-wrap {*/
	/*padding: 30px 40px 0;*/
	/*min-height: 400px;*/
/*}*/

.about-block {
	text-align: justify;
	margin-bottom: 20px;
}

.latest-newslist li {
	margin-bottom: 15px;
}

.latest-newslist li .img-holder {
	float: left;
	margin-right: 10px;
	box-shadow: 0.6px 0.8px 3px rgba(131, 131, 131, 0.75);
	width: 110px;
}

.latest-newslist li .img-holder img {
	width: 100%;
	height: auto;
}

.latest-newslist li .description {
	overflow: hidden;
}

.latest-newslist li .description time {
	display: block;
	color: #b3b3b3;
	line-height: 17px;
}

.latest-newslist li .description a {
	color: #225e6a;
}

.latest-newslist li .description a:hover {
	color: #b3b3b3;
}

.capabilities-list li {
	margin-bottom: 8px;
}

.capabilities-list a {
	color: #c60001;
	text-decoration: underline;
}

.capabilities-list a:hover {
	text-decoration: none;
}

.industry-pages h1 {
	font-weight: 700;
	margin-bottom: 15px;
}

.industry-pages h2 {
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
}

.industry-pages h3 {
	font-weight: 700;
	margin-bottom: 12px;
	font-size: 15px;
	line-height: 18px;
}

.industry-pages .image-box {
	margin-bottom: 20px;
}

.industry-pages .image-box img {
	width: 100%;
	height: auto;
}

.feature-block .heading-wrap {
	margin-bottom: 20px;
}

.feature-block .heading-wrap h2 {
	margin-right: 15px;
}

.feature-block .heading-wrap .logo-list li {
	vertical-align: bottom;
	padding: 0 10px;
}

.custom-list {
	padding: 0 0 0 20px;
}

.custom-list ul {
	margin: 0;
	padding: 0 0 0 20px;
	list-style: none;
}

.custom-list li {
	position: relative;
	padding-left: 15px;
}

.custom-list li:before {
	content: "";
	width: 4px;
	height: 4px;
	background: #225e6a;
	border-radius: 4px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 10px;
}

.demo-box {
	margin-bottom: 15px;
}

.demo-box h2 {
	margin-bottom: 20px;
}

.demo-box .demo-info li {
	margin-bottom: 10px;
}

.demo-box .demo-info .demo-title {
	min-width: 100px;
	display: inline-block;
	vertical-align: middle;
}

.demo-box .demo-info .btn {
	min-width: 100px;
}

/*.kisok-content {*/
	/*padding: 175px 40px 140px;*/
/*}*/



.kisok-content .confirmation-box h3 {
	font-size: 18px;
	margin-bottom: 25px;
}

.kisok-content .confirmation-box .question {
	display: block;
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 25px;
}

.kisok-content .confirmation-box .btn-holder .btn {
	min-width: 120px;
	background: #c60001;
}

.kisok-content .confirmation-box .btn-holder .btn:hover,.kisok-content .confirmation-box .btn-holder .btn:focus {
	background: #e00001;
}

.kisok-content .kisok-form {
	margin-bottom: 30px;
}

.kisok-content .kisok-form .select-holder {
	max-width: 150px;
	margin: 0 auto;
}



.kisok-content .pager-holder input {
	display: inline-block;
	padding: 5px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 15px;
	float: right;
	color: #337ab7;
	outline: none;
}

.kisok-content .pager-holder .pager a:hover,
.kisok-content .pager-holder input:hover,
.kisok-content .pager-holder input:focus,
.kisok-content .pager-holder .pager a:focus {
	color: #fff;
	background: #c60001;
	outline: none;
}

.kisok-content .rate-block h2 {
	margin-bottom: 15px;
	font-size: 18px;
}

.kisok-content .rate-table h2 {
	margin: 0;
}

.kisok-content .rate-table a {
	color: #c60001;
	text-decoration: underline;
}

.kisok-content .rate-table a:hover,.kisok-content .rate-table a:focus {
	color: #ff2d2e;
	text-decoration: none;
}

.kisok-content .table > thead > tr > th {
	vertical-align: middle;
	background: #eee;
}

.kisok-content .table > tbody > tr > td {
	vertical-align: middle;
}

.kisok-content .selection-box .type-details {
	margin-bottom: 25px;
}

.kisok-content .selection-box h3 {
	font-size: 18px;
	margin-bottom: 25px;
}

.kisok-content .selection-box .heading-holder {
	overflow: hidden;
	margin-bottom: 25px;
}

.kisok-content .selection-box .heading-holder h3 {
	float: left;
	margin: 0;
}

.kisok-content .selection-box .heading-holder .price-btn-holder {
	float: right;
}

.kisok-content .title-wrap {
	margin-bottom: 15px;
}

.kisok-content .title-wrap strong,.kisok-content .title-wrap em {
	display: block;
	font-weight: 700;
}

.kisok-content .selection-form .form-control {
	min-width: 55px;
}

.kisok-content .waiver-page h3 {
	font-size: 18px;
	margin-bottom: 25px;
}

.kisok-content .waiver-page .waiver-holder {
	border: 1px solid #ddd;
	padding: 15px;
}

.kisok-content .kisok-success-page {
	color: green;
}

.kisok-content .kisok-success-page h3 {
	font-size: 18px;
	margin-bottom: 15px;
}


.copyright a:hover,.copyright a:focus {
	color: #aaa;
}

select#state {
	width: auto;
}

.selection-form .step-6 .form-control {
	font-size: 11px;
	padding: 6px;
}

.selection-form .step-6.table>tbody>tr>td,
.selection-form .step-6.table>tbody>tr>th,
.selection-form .step-6.table>tfoot>tr>td,
.selection-form .step-6.table>tfoot>tr>th,
.selection-form .step-6.table>thead>tr>td,
.selection-form .step-6.table>thead>tr>th {
	padding: 5px;
}
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

@media (max-width: 991px) {
	#nav {
		font-size: 12px;
	}

	#nav a {
		padding-left: 12px;
		padding-right: 12px;
	}

	#nav .navbar-brand {
		width: 130px;
		height: auto;
	}

	#nav .dropdown-menu {
		font-size: 12px;
	}

	.navbar-nav {
		margin-top: 45px;
	}

	.footer-menu {
		text-align: center;
		margin-bottom: 5px;
	}

	.footer-menu li {
		margin: 0;
		padding: 0 5px;
	}

	.copyright {
		text-align: center;
	}
}

@media (max-width: 768px) {
	.modal-dialog {
		margin: 15px;
	}
}

@media (max-width: 767px) {
	#nav a {
		padding: 15px;
	}

	#nav .dropdown-menu a {
		padding-left: 30px;
	}

	#nav .navbar-collapse {
		border-top: 2px solid #c60001;
	}

	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
		border-radius: 0;
	}

	.banner .carousel-caption {
		font-size: 11px;
		line-height: 15px;
		padding: 10px;
		max-width: 300px;
	}

	.banner .carousel-caption h2 {
		font-size: 15px;
		line-height: 18px;
	}

	.carousel-control {
		box-shadow: none;
		width: 28px;
		height: 28px;
		font-size: 16px;
		padding: 3px;
		right: 36px;
		bottom: 0;
		border-radius: 0;
	}

	.carousel-control.right {
		right: 0;
	}

	.content-wrap {
		padding: 20px 20px 0;
	}

	.latest-newslist li {
		display: inline-block;
		vertical-align: top;
		width: 49%;
		padding: 0 5px;
	}

	.latest-newslist li .img-holder {
		width: 80px;
	}

	.capabilities-list li {
		display: inline-block;
		vertical-align: top;
		width: 49%;
		line-height: 17x;
		margin-bottom: 10px;
		padding: 0 5px;
	}

	.feature-block .heading-wrap h2 {
		float: none !important;
	}

	.kisok-content .selection-box .heading-holder h3 {
		float: none;
		margin-bottom: 15px;
	}

	.kisok-content .selection-box .heading-holder .price-btn-holder {
		float: none;
	}

	#footer {
		padding: 14px 20px 12px;
	}
	.kisok-content .pager-holder {
		left: 20px;
		right: 20px;
	}
}

@media (max-width: 479px) {
	.latest-newslist li {
		display: block;
		width: 100%;
	}

	.capabilities-list li {
		display: block;
		width: 100%;
	}
}
