@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,500,500i,600,600i,700,800|Open+Sans:400,400i,600,600i,700,700i,800|Playfair+Display:400,400i,700,700i,900');


body {
  background-color: #fff;
  color: #000;
  font: 300 16px/24px 'Montserrat', sans-serif;
  min-width: 320px;
}

img {
  vertical-align: top;
}

a {
  transition: all 0.3s;
  color: #00529b;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 0 8px;
  font-weight: 300;
}

h1 {
  font-size: 37px;
  line-height: 1.3;
  margin-bottom: 25px;
}

h2 {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 25px;
}

h3 {
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 25px;
}

#wrapper {
  position: relative;
  overflow: hidden;
}

.custom-list li {
  position: relative;
  padding-left: 22px;
  margin-bottom: 15px;
}

.custom-list li a:hover {
  color: #ffaa00;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  outline: none;
  border-color: #fff;
}

.form-control:hover,.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: #fff;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.text-underline {
  text-decoration: underline;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

/*Header Style*/
#header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 20px 40px;
  transition: 0.2s all ease-in-out;
}

#header.sticky-header {
  background: #fff;
  transition: 0.2s all ease-in-out;
  padding: 0 40px;
}

/*Nav Bar Style*/

#nav {
  background: transparent;
  border: 0;
  border-radius: 0;
  margin: 0;
  transition: 0.2s all ease-in-out;
}

#nav .navbar-brand {
  height: auto;
  padding: 22px 0;
  max-width: 50px;
  width: 100%;
}

#nav .navbar-brand img {
    width: 100%;
}

#nav .navbar-collapse {
  padding: 10px 0;
}

#nav .navbar-nav {
  text-transform: uppercase;
  padding: 15px 0;
}

#nav .navbar-nav a {
  font-size: 12px;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

.sticky-header #nav .navbar-nav a {
  color: #000;
}

#nav .navbar-nav a:hover,#nav .navbar-nav a:focus {
  color: #000;
  opacity: 0.6;
}

#nav .navbar-nav li {
  margin-left: 20px;
  position: relative;
}

#nav .navbar-nav li:first-child {
  margin-left: 0;
}

#nav .navbar-nav li.active a {
  background: transparent;
  color: #000;
}

#nav .navbar-toggle {
  border-color: #000;
  margin-top: 86px;
}

#nav .navbar-toggle .icon-bar {
  background-color: #fff;
}

#nav .navbar-nav li .submenu {
  position: absolute;
  top: 30px;
  left: 0;
  width: 200px;
  padding: 0;
  margin: 0;
  list-style: none;
  background: #fff;
  max-height: 0;
  transition: 0.7s max-height ease-in-out;
  overflow: hidden;
  z-index: 10;
}

#nav .navbar-nav li:hover .submenu {
  max-height: 600px;
  transition: 0.7s max-height ease-in-out;
}

#nav .navbar-nav li .submenu li {
  margin: 0;
}

#nav .navbar-nav li .submenu li a {
  display: block;
  line-height: 1.2;
  color: #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

#nav .navbar-nav li .submenu li:first-child a {
  border-top: 1px solid #000;
}

#nav .navbar-nav li .submenu li:last-child a {
  border-bottom: 1px solid #000;
}

#nav .navbar-nav li .submenu li a:hover {
  opacity: 1;
  background: #F2F2F2;
}

#nav .navbar-nav li.cart .cart-number {
  display: inline-block;
  min-width: 10px;
  padding: 2px 4px;
  margin-left: 4px;
  text-align: center;
  background: #ffffff;
  color: #000000;
  line-height: 1;
}

#header.sticky-header #nav li.cart .cart-number {
  color: #fff;
  background: #000;
}

  /*Cart Style*/
#nav .navbar-nav li .my-cart.submenu span.outer-border {
  border: 1px solid #000;
  padding: 0 10px;
  display: block;
}

#nav .navbar-nav li .my-cart.submenu {
  left: auto;
  right: 0;
  width: 400px;
}

#nav .navbar-nav li .my-cart.submenu span {
  display: inline-block;
  vertical-align: middle;
}

.my-cart .products-cart {
  width: 100%;
}

.my-cart .product {
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.my-cart .img-holder {
  border: 1px solid #ccc;
  max-width: 80px;
  width: 100%;
  margin-right: 20px;
}

.my-cart .img-holder img {
  width: 100%;
}

.my-cart .product-name,
.my-cart .quantity {
  margin-right: 20px;
}

#nav .my-cart .price .text,
#nav .my-cart .price a {
  display: block;
  padding: 0;
  line-height: 1;
}

#nav .my-cart .price a {
  color: red;
  font-weight: 300;
}

#nav .navbar-nav li .my-cart.submenu span.total-checkout {
  display: block;
}

#nav .navbar-nav li .my-cart.submenu .total-checkout {
  padding: 20px 0;
}

#nav .navbar-nav li .my-cart.submenu .sub-total {
  padding-top: 10px;
  font-size: 12px;
}

#nav .navbar-nav li .my-cart.submenu .sub-total strong {
  font-size: 14px;
  margin-left: 5px;
}

#nav .navbar-nav li .my-cart.submenu .btn-checkout {
  padding: 10px 30px;
  color: #fff;
  background: #000;
}

/*Main Conetnt Style*/
#main {
  position: relative;
  overflow: hidden;
}

/*Banner Style*/
.banner {
  position: relative;
  background: url('../images/ski-team.jpg') no-repeat 0 40%;
  height: 400px;
}

.banner h1 {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  color: #FD0909;
  font-size: 90px;
  font-weight: bold;
}
/*Content Wrap*/


.content-wrap {
  padding: 50px 0;
}
/*Footer Style*/
.footer {
  background: rgba(0, 0, 0, 0.05);
  padding: 50px 0;
}

.footer ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul h2 {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  margin: 0 auto 30px;
}

.footer .footer-links ul {
  margin-right: 50px;
}

.footer .footer-links ul li {
  margin-bottom: 10px;
}

.footer .footer-links ul li,
.footer .footer-links ul li a {
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  display: block;
  font-weight: 300;
}

.footer .footer-links ul li a {
  text-decoration: underline;
}

.footer a:hover {
  opacity: 0.6;
}

.social-links {
  text-align: right;
  padding-top: 50px;
}

.social-links li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.social-links li a {
  display: inline-block;
}

.copyright {
  font-size: 9px;
  padding-top: 10px;
}

/*Sticky Contact Model Style*/
button.close {
  text-shadow: none;
  opacity: 1;
  display: none;
}

button.close span{
  color: #fff;
}

.modal-content:hover button.close {
  display: block;
}

.btn-contact {
  font-size: 18px;
  font-family: arial,helvetica,sans-serif !important;
  color: #fff;
  background: #e17b00;
  border: 1px solid #e17b00;
  padding: 5px 15px 5px 35px;
  outline: none;
  box-shadow: none;
  border-radius: 10px 10px 0 0;
  position: fixed;
  bottom: 0;
  right: 10%;
  z-index: 1;
}

.btn-contact:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 8px;
  margin-top: -7px;
  background: url("../images/contact-icon.png") no-repeat;
  background-size: cover;
  height: 13px;
  width: 20px;
}

.modal-header {
  border: 0;
  padding: 15px 15px 0;
}

.modal-body {
  padding: 0 5px;
}

.modal .modal-title {
  font-size: 28px;
  font-family: arial,helvetica,sans-serif;
}

.modal h3 {
  font-size: 16px;
  font-family: arial,helvetica,sans-serif;
  margin-bottom: 5px;
}

.modal-content {
  padding-bottom: 15px;
  background: #000;
  color: #fff;
}

.modal-content .field-wrapper {
  width: 50%;
  float: left;
  padding: 5px 10px;
  position: relative;
}

.modal-content .field-wrapper input,
.modal-content .message-wrapper textarea {
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 10px;
  height: 40px;
  color: #000;
}

.modal-content .message-wrapper {
  width: 100%;
  padding: 5px 10px;
  position: relative;
  float: left;
}

.modal-content .message-wrapper textarea {
  height: 130px;
}

.modal-content .field-wrapper .require-filed,
.modal-content .message-wrapper .require-filed {
  position: absolute;
  top: 5px;
  right: 15px;
  color: red;
}

.modal-content .send-button-wrapper {
  padding: 0 10px;
}

.modal-content button.btn-submit {
  display: inline-block;
  float: right;
  border: 0;
  color: #ffffff;
  height: 42px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  background-color: #00ADE9;
  border-radius: 2px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #000;
  font-style: italic;
  font-weight: 300;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #000;
  opacity:  1;
  font-style: italic;
  font-weight: 300;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #000;
  opacity:  1;
  font-style: italic;
  font-weight: 300;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #000;
  font-style: italic;
  font-weight: 300;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    #000;
  font-style: italic;
  font-weight: 300;
}

/*Responsive style*/

@media only screen and (max-width: 1199px) {

  .banner h1 {
    font-size: 50px;
    top: 45%;
  }

  #nav .navbar-nav a {
    padding: 10px 5px;
  }

  #header {
    padding: 20px;
  }

  #header.sticky-header {
    padding: 0 15px;
  }

}

@media only screen and (max-width: 991px) {

  .navbar-right {
    width: 80%;
  }

  #nav .navbar-nav a {
    padding: 10px 5px;
  }

  #nav .navbar-brand {
    padding: 43px 0;
  }
}

@media only screen and (max-width: 767px) {

  #header {
    padding: 0;
    position: static;
  }

  #header.sticky-header {
    padding: 0;
    background: transparent;
  }

  .navbar-nav {
    margin: 0;
  }

  #header.sticky-header .navbar-default {
    background: #fff;
    transition: 0.2s all ease-in-out;
  }

  #nav .navbar-toggle {
    margin-top: 17px;
    background: #000;
    color: #fff;
  }

  #nav .navbar-brand {
    padding: 10px 0;
  }

  .navbar-right {
    width: 100%;
  }

  #nav .navbar-collapse {
    background: #fff;
    color: #000;
    padding: 10px;
  }

  #nav .navbar-nav li {
    margin-left: 0;
  }

  #nav .navbar-nav li.cart {
    display: none;
  }

  #nav .navbar-nav a {
    color: #000;
  }

  #nav .navbar-nav li .submenu {
    position: static;
    max-height: inherit;
    margin-left: 10px;
  }

  #nav .navbar-nav li .submenu li a,
  #nav .navbar-nav li .submenu li:first-child a,
  #nav .navbar-nav li .submenu li:last-child a{
    border: none;
  }

  #nav .navbar-nav li.cart .cart-number {
    color: #fff;
    background: #000;
  }

  #nav .navbar-nav li .my-cart.submenu {
    max-width: 400px;
    width: 100%;
    margin: 0;
  }

  .social-links {
    width: 100%;
    text-align: left;
  }

  
}

@media only screen and (max-width: 479px) {
  .banner {
    height: 200px;
  }

  .banner h1 {
    font-size: 30px;
  }

  .modal-content .field-wrapper {
    width: 100%;
  }
}


#main {
  padding: 30px; 
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}


